In [12]:
import requests
import pandas as pd

In [11]:
API_BASE_URL = "https://archive-api.open-meteo.com/v1/archive"
LATITUDE = 38.5816
LONGITUDE = -121.489906
START_DATE = "2010-09-21"
END_DATE = "2023-09-21"
import requests
import csv
OUTPUT_CSV = "weather_data.csv"

def getWeatherData(latitude, longitude, timeStart, timeEnd, outputCSVPath):
    response = requests.get(API_BASE_URL, params={
        'latitude': latitude,
        'longitude': longitude,
        'start_date': timeStart,
        'end_date': timeEnd,
        'hourly': 'temperature_2m'
    })

    if response.status_code == 200:
        data = response.json()
        times = data['hourly']['time']
        temperatures = data['hourly']['temperature_2m']
        
        # Open the CSV file for writing
        with open(outputCSVPath, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            
            # Write the header row
            writer.writerow(["Time", "Temperature (째C)"])
            
            # Write each row of data
            for time, temperature in zip(times, temperatures):
                writer.writerow([time, temperature])
        
        print(f"Data written to {outputCSVPath}")

    else:
        print(f"Error {response.status_code}: {response.text}")

# Example usage:
getWeatherData(38.5816, -121.489906, "2010-09-21", "2023-09-21")

Data written to weather_data.csv

In [21]:
# Load CSV files into DataFrames
df_existing = pd.read_csv("/Users/aidanwiteck/Desktop/Princeton/Year 4/Thesis/electricgrid/banc_load_data/concatenated_data/BANC2022.csv")
df_weather = pd.read_csv("./weather_data.csv")

# Convert timestamp columns to datetime objects
df_existing['timestamp'] = pd.to_datetime(df_existing['timestamp'])
df_weather['Time'] = pd.to_datetime(df_weather['Time'])

# Merge based on timestamp
df_merged = pd.merge(df_existing, df_weather, left_on='timestamp', right_on='Time', how='left')

# Drop the redundant 'Time' column (optional)
df_merged.drop(columns=['Time'], inplace=True)

In [22]:
df_existing.head()

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),timestamp,Total Interchange (MWh)
0,BANC,1856.0,1831.0,1427.0,2022-01-01 00:00:00,-429.0
1,BANC,1786.0,1740.0,1463.0,2022-01-01 01:00:00,-323.0
2,BANC,1729.0,1683.0,1365.0,2022-01-01 02:00:00,-364.0
3,BANC,1699.0,1639.0,1441.0,2022-01-01 03:00:00,-258.0
4,BANC,1693.0,1620.0,1423.0,2022-01-01 04:00:00,-271.0

In [23]:
df_weather.head()

                 Time  Temperature (째C)
0 2010-09-21 00:00:00              29.3
1 2010-09-21 01:00:00              28.8
2 2010-09-21 02:00:00              27.6
3 2010-09-21 03:00:00              25.4
4 2010-09-21 04:00:00              23.4

In [24]:
df_merged.head()

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),timestamp,Total Interchange (MWh),Temperature (째C)
0,BANC,1856.0,1831.0,1427.0,2022-01-01 00:00:00,-429.0,10.1
1,BANC,1786.0,1740.0,1463.0,2022-01-01 01:00:00,-323.0,8.8
2,BANC,1729.0,1683.0,1365.0,2022-01-01 02:00:00,-364.0,7.1
3,BANC,1699.0,1639.0,1441.0,2022-01-01 03:00:00,-258.0,5.3
4,BANC,1693.0,1620.0,1423.0,2022-01-01 04:00:00,-271.0,3.9

In [ ]:






# Save the merged DataFrame to a new CSV file
df_merged.to_csv(output_csv, index=False)

print(f"Merged data written to {output_csv}")

In [ ]:
# response = requests.get(API_BASE_URL, params={
#     'latitude': LATITUDE,
#     'longitude': LONGITUDE,
#     'start_date': START_DATE,
#     'end_date': END_DATE,
#     'hourly': 'temperature_2m'
# })

# if response.status_code == 200:
#     data = response.json()
#     times = data['hourly']['time']
#     temperatures = data['hourly']['temperature_2m']
    
#     # Loop through the data, pairing each timestamp with its corresponding temperature
#     for time, temperature in zip(times, temperatures):
#         print(f"At {time}, temperature was {temperature}째C")
# else:
#     print(f"Error {response.status_code}: {response.text}")